@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply flex items-center justify-center rounded-md border border-zinc-700/50 bg-zinc-600 px-4 py-2 transition-all hover:bg-zinc-700;
}

.btn-blue {
    @apply flex items-center justify-center rounded-md border border-blue-600/50 bg-blue-500 px-4 py-2 transition-all hover:bg-blue-600;
}

.btn-red {
    @apply flex items-center justify-center rounded-md border border-red-600/50 bg-red-400 px-4 py-2 transition-all hover:bg-red-500;
}

.btn-green {
    @apply flex items-center justify-center rounded-md border border-green-700/50 bg-green-600 px-4 py-2 transition-all hover:bg-green-700;
}

.btn-yellow {
    @apply flex items-center justify-center rounded-md border border-yellow-600/50 bg-yellow-500 px-4 py-2 transition-all hover:bg-yellow-600;
}

#nprogress {
    pointer-events: none;
}
#nprogress .bar {
    background: #29d;
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
}
#nprogress .peg {
    display: block;
    position: absolute;
    right: 0;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #29d, 0 0 5px #29d;
    opacity: 1;
    -webkit-transform: rotate(3deg) translate(0, -4px);
    -ms-transform: rotate(3deg) translate(0, -4px);
    transform: rotate(3deg) translate(0, -4px);
}
#nprogress .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 15px;
    right: 15px;
}
#nprogress .spinner-icon {
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-top-color: #29d;
    border-left-color: #29d;
    border-radius: 50%;
    -webkit-animation: nprogress-spinner 400ms linear infinite;
    animation: nprogress-spinner 400ms linear infinite;
}
.nprogress-custom-parent {
    overflow: hidden;
    position: relative;
}
.nprogress-custom-parent #nprogress .bar,
.nprogress-custom-parent #nprogress .spinner {
    position: absolute;
}
@-webkit-keyframes nprogress-spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes nprogress-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
